<div class="header">
    <img src="../public/img/menu.svg" height="30" class="btnMenu" onclick="showMenu()"></img>
    <h1>El rincón de Cano</h1>
</div>
<div class="footer">
    <img src="../public/img/ikaros.png" height="100%" id="ikaros">
    <p id="msgBox">Hola.</p>
</div>

<div id="nada" onclick="quitarMenu()"></div>
<div id="menu">
    <div class="item">
        <% if(user){ %>
        <a><%= user.nombre %></a>
        <a>Mi perfil</a>
        <a href="/salir">Salir</a>
        <% }else{ %>
            <a>Sin usuario</a>
            <a href="/">Iniciar sesión</a>
            <a href="/registro">Registrarme</a>
        <% } %>
    </div>
    <div class="item">
        <a href="/">Inicio</a>
    </div>
    <div class="item">
        <a>Juegos</a>
        <a>Ruleta diaria</a>
        <a>Chavalión</a>
        <!-- <p>Battle City Ultra</p> -->
    </div>
    <div class="item">
        <a>Fichero</a>
        <a href="/agregarFicha">Agregar</a>
        <a href="/buscarFicha">Buscar</a>
        <a>Practicar</a>
    </div>
    <div class="item">
        <a>Chat</a>
    </div>
</div>